<head>
    <title>
        MBTA Departures
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/5f5c2f0c6d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"></script>

    <script>
        $(document).ready(function() {
            function DeparturesViewModel(departures) {
                var self=this;
                // Polling frequency in seconds 
                self.POLLING_FREQUENCY = 30; 

                self.departures = ko.observableArray();
                self.showConnectionError = ko.observable(true); 
                self.clock = ko.observable(moment().format('h:mm:ss a'));
                self.date = ko.observable(moment().format('MMMM Do YYYY'));
                setInterval(function() {
                    self.clock(moment().format('h:mm:ss a'));
                    self.date(moment().format('MMMM Do YYYY'));
                }, 999);

                self.updateFromData(departures);
                self.pollForUpdates();
            }

            DeparturesViewModel.prototype.updateFromData = function(departures) {
                var self=this;
                departures = departures.map(function(dep) {
                    dep.scheduled_time = moment(dep.scheduled_time);
                    return dep;
                });
                self.departures(departures);
                self.sortDepartures();
            };

            DeparturesViewModel.prototype.pollForUpdates = function() {
                var self=this;
                $.ajax({
                    url: '/departures/poll_departures/',
                }).done(function(data) {
                    self.updateFromData(JSON.parse(data.departures));
                    self.showConnectionError(false);
                }).fail(function(data) {
                    self.showConnectionError(true);
                }).always(function() {
                    setTimeout(function() {
                        self.pollForUpdates();
                    }, self.POLLING_FREQUENCY*1000);
                });
            };

            DeparturesViewModel.prototype.sortDepartures = function() {
                var self=this;
                self.departures.sort(function(l, r) {
                    if(l.scheduled_time == r.scheduled_time) return 0;
                    return l.scheduled_time > r.scheduled_time ? 1 : -1
                });
            };

            // The safe template tag prevents html escaping 
            // Let's assume a train will never go to a destination named after an XSS attack... 
            ko.applyBindings(new DeparturesViewModel({{ json_departures|safe }}));
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Departures <i class="fa fa-train" aria-hidden="true"></i></h1>
            </div>
            <div class="col-md-4">
                <h1 class="text-center" data-bind="text:clock">
                </h1>
            </div>
            <div class="col-md-4">
               <h1 class="text-right" data-bind="text:date">
               </h1>
            </div>
        </div>
        <hr></hr>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div data-bind="visible:showConnectionError" class="alert alert-danger" role="alert">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unable to connect to server. Please check your internet connection.
                </div>

                <table class="table table-sm" data-bind="style:{color: showConnectionError() ? '#e6e6e6' : 'black'}" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                Carrier
                            </th>
                            <th>
                                Departure Time
                            </th>
                            <th>
                                Destination
                            </th>
                            <th>
                                Train Number
                            </th>
                            <th>
                                Track 
                            </th>
                            <th>
                                Status 
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:departures">
                        <tr data-bind="css:{'text-muted': $data.status=='Departed'}">                        
                            <th>
                                MBTA 
                            </th>
                            <th>
                                <span data-bind="text:$data.scheduled_time.format('h:mm a')"></span>
                            </th>
                            <th>
                                <span data-bind="text:$data.destination"></span>
                            </th>
                            <th>
                                <span data-bind="text:$data.trip"></span>
                            </th>
                            <th>
                                <span data-bind="text:$data.track"></span>
                            </th>
                            <th data-bind="style:{'color': $data.status=='Now Boarding' ? 'green' : 'inherit'}">
                                <span data-bind="text:$data.status"></span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <hr></hr>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                © 2016 Malcolm Balch-Crystal
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</body>
